################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DynamicModelApi
/.vs/ProjectEvaluation
/DynamicData/obj
/DynamicModelApi/obj
/DynamicData/bin/Debug/net9.0
/DynamicModelApi/bin/Debug/net9.0
