################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DynamicModelApi
/.vs/ProjectEvaluation
/DynamicData/obj
/DynamicModelApi/obj
