@inherits LayoutComponentBase

@if (Definition != null)
{
    <h5 class="mb-3">@Definition.ModelName</h5>
    <ul class="list-unstyled">
        @foreach (var p in Definition.Properties)
        {
            <li><i class="bi bi-circle-fill text-secondary"></i> @p.Name (@p.Type)</li>
        }
    </ul>
}

@code {
    [Parameter] public ModelDefinition? Definition { get; set; }
}
