@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="app-layout">
        <SidebarNav />
        <div class="app-content">
            @Body
        </div>
        <ContextSidebar />
    </div>
</CascadingValue>

@code {
    private RenderFragment? RightSidebarContent { get; set; }

    public void SetRightSidebar(RenderFragment? content)
    {
        RightSidebarContent = content;
        StateHasChanged();
    }
}
