<nav class="bg-gray-800 text-white w-48 min-h-screen p-4 shadow">
    <ul class="space-y-2">
        <li>
            <NavLink class="block hover:bg-gray-700 px-3 py-2 rounded" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink class="block hover:bg-gray-700 px-3 py-2 rounded" href="models">Models</NavLink>
        </li>
        <li>
            <NavLink class="block hover:bg-gray-700 px-3 py-2 rounded" href="data">Data</NavLink>
        </li>
    </ul>
</nav>
