<nav class="nav-menu">
    <div class="logo">
        <img src="https://source.unsplash.com/random/64x64?logo" alt="Logo" />
    </div>
    <ul>
        <li>
            <NavLink class="" href="" Match="NavLinkMatch.All">
                <span class="material-icons">home</span>
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="models">
                <span class="material-icons">list</span>
                Models
            </NavLink>
        </li>
        <li>
            <NavLink href="data">
                <span class="material-icons">table_chart</span>
                Data
            </NavLink>
        </li>
    </ul>
</nav>
