<nav class="bg-gray-800 text-white p-4 shadow">
    <ul class="flex space-x-4">
        <li>
            <NavLink class="hover:text-gray-300 px-3 py-2 rounded" href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink class="hover:text-gray-300 px-3 py-2 rounded" href="models">Models</NavLink>
        </li>
    </ul>
</nav>
